
canvas{
position:absolute;
  display:block;
  vertical-align:middle;
}



#main{
position:absolute;
  z-index:-1;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
